*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
header{
    background-color: #9e5d27;
    padding: 20px 0;
    color: white;
    text-align: center;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    font-weight: bold;
}
nav ul li{
    margin: 0 15px;
}
nav ul {
    list-style: none;
    display: flex;
    background-color: #333;
    padding: 0;
    margin-top: 15px;
    justify-content: center;
}
nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 20px;
    display: block;
}
nav ul li a:hover {
    color: #9e5d27;
}
.hd{
    width: 100%;
    margin: auto;
    padding: 20px;
    line-height: 1.8;
}
.Logo {
    width: 150px;
    margin-bottom: 10px;
}